@{
    ViewData["Title"] = "İletişim";
}
<style type="text/css" data-type="vc_shortcodes-custom-css">
      .vc_custom_1499947526310 {
        background-color: #f1f8fe !important;
      }
      .vc_custom_1506951449473 {
        background-color: #171717 !important;
      }
      .vc_custom_1506952319686 {
        margin-top: 1.35rem !important;
        margin-bottom: 1.6rem !important;
      }
      .vc_custom_1506952405222 {
        margin-bottom: -0.35rem !important;
      }
      .vc_custom_1601474164599 {
        margin-bottom: 0.3rem !important;
      }
      .vc_custom_1600064164437 {
        padding-bottom: 1.7rem !important;
      }
      @@media (max-width: 767px) {
        .vc_custom_16000641644343 {
          margin-top: 0 !important;
        }
      }
</style>

<article id="post-107"
         class="post_item_single post_type_page post-107 page type-page status-publish hentry">
    <div class="post_content entry-content">
        <div data-vc-full-width="true"
             data-vc-full-width-init="true"
             data-vc-stretch-content="true"
             class="vc_row wpb_row vc_row-fluid vc_row-no-padding"
             style="
                      position: relative;
                      left: -288.5px;
                      box-sizing: border-box;
                      width: 1777px;
                    ">
            <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                                <p>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3111.3947110495274!2d30.5366826!3d38.75465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cf1728953c17bd%3A0x87d1e1781d8d1be0!2sUgurlu%20Perde!5e0!3m2!1str!2str!4v1661859662213!5m2!1str!2str"
                                            width="100%"
                                            height="450"
                                            style="border: 0; margin-top: 95px"
                                            class="vc_custom_16000641644343"
                                            allowfullscreen=""
                                            loading="lazy"
                                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row-full-width vc_clearfix"></div>
        <div data-vc-full-width="true"
             data-vc-full-width-init="true"
             class="vc_row wpb_row vc_row-fluid vc_custom_1499947526310 vc_row-has-fill"
             style="
                      position: relative;
                      left: -288.5px;
                      box-sizing: border-box;
                      width: 1777px;
                      padding-left: 288.5px;
                      padding-right: 288.5px;
                    ">
            <div class="wpb_column vc_column_container vc_col-sm-6 sc_layouts_column_icons_position_left">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="sc_content_wrap sc_push_medium">
                            <div id="sc_content_547249848"
                                 class="sc_content color_style_default scheme_dark sc_content_default sc_float_center sc_padding_small sc_margin_tiny vc_custom_1506951449473">
                                <div class="sc_content_container">
                                    <div id="sc_title_992244887"
                                         class="sc_title color_style_default sc_title_default">
                                        <h4 class="sc_item_title sc_title_title sc_align_left sc_item_title_style_default sc_item_title_tag">
                                            İletişim Bilgileri
                                        </h4>
                                    </div>
                                    <!-- /.sc_title -->
                                    <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_custom_1506952319686 vc_custom_1506952319686">
                                        <span class="vc_sep_holder vc_sep_holder_l">
                                            <span style="border-color: #3d515e"
                                                  class="vc_sep_line"></span>
                                        </span><span class="vc_sep_holder vc_sep_holder_r">
                                            <span style="border-color: #3d515e"
                                                  class="vc_sep_line"></span>
                                        </span>
                                    </div>
                                    <div id="widget_contacts_2098197026"
                                         class="widget_area sc_widget_contacts vc_widget_contacts wpb_content_element">
                                        <aside id="widget_contacts_2098197026_widget"
                                               class="widget widget_contacts">
                                            <div class="contacts_wrap">
                                                <div class="contacts_info">
                                                    <span class="contacts_address">
                                                        Akmescit Mahallesi Köprübaşı Caddesi
                                                        No:8/A Afyonkarahisar
                                                    </span><span class="contacts_email">
                                                        <a href="mailto:info@ugurluperdeci.com">info@ugurluperdeci.com</a>
                                                    </span><a href="tel:05439300760"
                                                              class="contacts_phone">0543 930 07 60</a>
                                                </div>
                                            </div>
                                            <!-- /.contacts_wrap -->
                                        </aside>
                                    </div>
                                    <div class="vc_empty_space vc_custom_1506952405222 height_small"
                                         style="height: 32px">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <div class="wpb_single_image wpb_content_element vc_align_center vc_custom_1601474164599">
                                        <figure class="wpb_wrapper vc_figure">
                                            <div class="vc_single_image-wrapper vc_box_border_grey">
                                                <img width="370"
                                                     height="260"
                                                     src="../logo_ugurlu_perde.jpeg"
                                                     class="vc_single_image-img attachment-full"
                                                     alt=""
                                                     loading="lazy"
                                                     srcset="
                                          ../logo_ugurlu_perde.jpeg 370w,
                                          ../logo_ugurlu_perde.jpeg 300w
                                        "
                                                     sizes="(max-width: 370px) 100vw, 370px" />
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <!-- /.sc_content -->
                        </div>
                        <!-- /.sc_content_wrap -->
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6 sc_layouts_column_icons_position_left">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="vc_empty_space height_medium"
                             style="height: 32px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                        <div class="wpb_text_column wpb_content_element vc_custom_1600064164437">
                            <div class="wpb_wrapper">
                                <p>
                                    İletişim formunu doldurarak bizimle iletişime
                                    geçebilirsiniz.
                                </p>
                            </div>
                        </div>
                        <div role="form"
                             class="wpcf7"
                             id="wpcf7-f1166-p107-o1"
                             lang="tr-TR"
                             dir="ltr">
                            <div class="screen-reader-response">
                                <p role="status"
                                   aria-live="polite"
                                   aria-atomic="true"></p>
                                <ul></ul>
                            </div>
                            <form action="/#/iletisim/#wpcf7-f1166-p107-o1"
                                  method="post"
                                  class="wpcf7-form init"
                                  novalidate="novalidate"
                                  data-status="init">
                                <div style="display: none">
                                    <input type="hidden"
                                           name="_wpcf7"
                                           value="1166" />
                                    <input type="hidden"
                                           name="_wpcf7_version"
                                           value="5.4.2" />
                                    <input type="hidden"
                                           name="_wpcf7_locale"
                                           value="tr_TR" />
                                    <input type="hidden"
                                           name="_wpcf7_unit_tag"
                                           value="wpcf7-f1166-p107-o1" />
                                    <input type="hidden"
                                           name="_wpcf7_container_post"
                                           value="107" />
                                    <input type="hidden"
                                           name="_wpcf7_posted_data_hash"
                                           value="" />
                                </div>
                                <div class="contact_us">
                                    <div class="flex">
                                        <div class="itm row">
                                            <span class="wpcf7-form-control-wrap your-name">
                                                <input type="text"
                                                       name="your-name"
                                                       value=""
                                                       size="40"
                                                       class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required fill_inited"
                                                       aria-required="true"
                                                       aria-invalid="false"
                                                       placeholder="Ad*" />
                                            </span>
                                        </div>
                                        <div class="itm row">
                                            <span class="wpcf7-form-control-wrap your-email">
                                                <input type="email"
                                                       name="your-email"
                                                       value=""
                                                       size="40"
                                                       class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email fill_inited"
                                                       aria-required="true"
                                                       aria-invalid="false"
                                                       placeholder="E-mail*" />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="">
                                        <span class="wpcf7-form-control-wrap your-message">
                                            <textarea name="your-message"
                                                      cols="40"
                                                      rows="10"
                                                      class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required fill_inited"
                                                      aria-required="true"
                                                      aria-invalid="false"
                                                      placeholder="Mesaj*"></textarea>
                                        </span>
                                    </div>
                                    <div class="sc_form_field sc_form_field_button sc_form_field_submit">
                                        <input type="submit"
                                               value="Gönder"
                                               class="wpcf7-form-control wpcf7-submit" />
                                    </div>
                                </div>
                                <div class="wpcf7-response-output"
                                     aria-hidden="true"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="vc_empty_space height_huge"
                             style="height: 32px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row-full-width vc_clearfix"></div>
    </div>
    <!-- .entry-content -->
</article>
