@{
    ViewData["Title"] = "Resimler";
}

<article id="post-107"
         class="post_item_single post_type_page post-107 page type-page status-publish hentry">
    <div class="post_content entry-content">
        <div data-vc-full-width="true"
             data-vc-full-width-init="true"
             data-vc-stretch-content="true"
             class="vc_row wpb_row vc_row-fluid vc_row-no-padding"
             style="
                      position: relative;
                      left: -190px;
                      box-sizing: border-box;
                      width: 1777px;
                      margin-top:111px;
                    ">


            
            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-12 sc_layouts_column_icons_position_right">
                    <div id="sc_services_1734894878" class="sc_services color_style_default sc_services_light sc_services_featured_top">
                        <h6 class="sc_item_subtitle sc_services_subtitle sc_align_center sc_item_title_style_default">Resimler</h6><div class="sc_services_columns_wrap sc_item_columns sc_item_columns_3 trx_addons_columns_wrap columns_padding_bottom">
                            <div class="trx_addons_column-1_3">
                                <div class="sc_services_item with_content with_image sc_services_item_featured_top">
                                    <div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="370" height="227" src="../uploads/2021/01/sunscreen-perde-370x227.jpg" class="attachment-gardis-thumb-med size-gardis-thumb-med wp-post-image" alt="Sunscreen Perde" loading="lazy"></div>
                                </div>
                            </div><div class="trx_addons_column-1_3">
                                <div class="sc_services_item with_content with_image sc_services_item_featured_top">
                                    <div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="370" height="227" src="../uploads/2021/01/rustik-perde-370x227.jpg" class="attachment-gardis-thumb-med size-gardis-thumb-med wp-post-image" alt="Rustik Perde" loading="lazy"></div>
                                </div>
                            </div><div class="trx_addons_column-1_3">
                                <div class="sc_services_item with_content with_image sc_services_item_featured_top">
                                    <div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="370" height="227" src="../uploads/2021/01/plise-sineklik-370x227.jpg" class="attachment-gardis-thumb-med size-gardis-thumb-med wp-post-image" alt="Plise Sineklik" loading="lazy"></div>
                                </div>
                            </div><div class="trx_addons_column-1_3">
                                <div class="sc_services_item with_content with_image sc_services_item_featured_top">
                                    <div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="370" height="227" src="../uploads/2021/01/kis-bahcesi-perdeleri-370x227.jpg" class="attachment-gardis-thumb-med size-gardis-thumb-med wp-post-image" alt="Kış Bahçesi Perdeleri" loading="lazy"></div>
                                </div>
                            </div><div class="trx_addons_column-1_3">
                                <div class="sc_services_item with_content with_image sc_services_item_featured_top">
                                    <div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="370" height="227" src="../uploads/2021/01/islemeli-stor-perde-370x227.jpg" class="attachment-gardis-thumb-med size-gardis-thumb-med wp-post-image" alt="İşlemeli Stor Perde" loading="lazy"></div>
                                   
                                </div>
                            </div><div class="trx_addons_column-1_3">
                                <div class="sc_services_item with_content with_image sc_services_item_featured_top">
                                    <div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="370" height="227" src="../uploads/2021/01/dikey-tul-perde-370x227.jpg" class="attachment-gardis-thumb-med size-gardis-thumb-med wp-post-image" alt="Dikey Tül Perde" loading="lazy"></div>
                               
                                </div>
                            </div><div class="trx_addons_column-1_3">
                                <div class="sc_services_item with_content with_image sc_services_item_featured_top">
                                    <div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="370" height="227" src="../uploads/2021/01/blackout-stor-perde-370x227.jpg" class="attachment-gardis-thumb-med size-gardis-thumb-med wp-post-image" alt="Blackout Stor Perde" loading="lazy"></div>
                                  
                                </div>
                            </div><div class="trx_addons_column-1_3">
                                <div class="sc_services_item with_content with_image sc_services_item_featured_top">
                                    <div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="370" height="227" src="../uploads/2020/10/Frame-12-370x227.jpg" class="attachment-gardis-thumb-med size-gardis-thumb-med wp-post-image" alt="Zip Perde" loading="lazy"></div>
                                 
                                </div>
                            </div><div class="trx_addons_column-1_3">
                                <div class="sc_services_item with_content with_image sc_services_item_featured_top">
                                    <div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="370" height="227" src="../uploads/2020/10/sineklik-370x227.jpg" class="attachment-gardis-thumb-med size-gardis-thumb-med wp-post-image" alt="Sineklik" loading="lazy"></div>
                                 
                                </div>
                            </div><div class="trx_addons_column-1_3">
                                <div class="sc_services_item with_content with_image sc_services_item_featured_top">
                                    <div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="370" height="227" src="../uploads/2020/09/oturma-odasi-370x227.jpg" class="attachment-gardis-thumb-med size-gardis-thumb-med wp-post-image" alt="Oturma Odası Perdesi" loading="lazy"></div>
                                  
                                </div>
                            </div><div class="trx_addons_column-1_3">
                                <div class="sc_services_item with_content with_image sc_services_item_featured_top">
                                    <div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="370" height="227" src="../uploads/2020/09/salon-perdesi-370x227.jpg" class="attachment-gardis-thumb-med size-gardis-thumb-med wp-post-image" alt="Salon Perdesi" loading="lazy"></div>
                                  
                                </div>
                            </div><div class="trx_addons_column-1_3">
                                <div class="sc_services_item with_content with_image sc_services_item_featured_top">
                                    <div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="370" height="227" src="../uploads/2020/09/villa-perdeleri-370x227.jpg" class="attachment-gardis-thumb-med size-gardis-thumb-med wp-post-image" alt="Villa Perdeleri" loading="lazy"></div>
                                  
                                </div>
                            </div><div class="trx_addons_column-1_3">
                                <div class="sc_services_item with_content with_image sc_services_item_featured_top">
                                    <div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="370" height="227" src="../uploads/2020/09/yatak-odasi-370x227.jpg" class="attachment-gardis-thumb-med size-gardis-thumb-med wp-post-image" alt="Yatak Odası Perdesi" loading="lazy"></div>
                                </div>
                            </div><div class="trx_addons_column-1_3">
                                <div class="sc_services_item with_content with_image sc_services_item_featured_top">
                                    <div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="370" height="227" src="../uploads/2020/09/yazlik-ev-perdesi-370x227.jpg" class="attachment-gardis-thumb-med size-gardis-thumb-med wp-post-image" alt="Yazlık Ev Perdeleri" loading="lazy"></div>
                                
                                </div>
                            </div><div class="trx_addons_column-1_3">
                                <div class="sc_services_item with_content with_image sc_services_item_featured_top">
                                    <div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="370" height="227" src="../uploads/2020/09/gelin-odasi-370x227.jpg" class="attachment-gardis-thumb-med size-gardis-thumb-med wp-post-image" alt="Gelin Odası Perdesi" loading="lazy"></div>
                                  
                                </div>
                            </div><div class="trx_addons_column-1_3">
                                <div class="sc_services_item with_content with_image sc_services_item_featured_top">
                                    <div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="370" height="227" src="../uploads/2020/09/kis-bahce-perdeleri-370x227.jpg" class="attachment-gardis-thumb-med size-gardis-thumb-med wp-post-image" alt="Kış Bahçesi" loading="lazy"></div>
                                   
                                </div>
                            </div><div class="trx_addons_column-1_3">
                                <div class="sc_services_item with_content with_image sc_services_item_featured_top">
                                    <div class="post_featured with_thumb hover_icon sc_services_item_thumb"><img width="370" height="227" src="../uploads/2020/09/mutfa-perdesi-370x227.jpg" class="attachment-gardis-thumb-med size-gardis-thumb-med wp-post-image" alt="Mutfak Perdesi" loading="lazy"></div>
                                </div>
                            </div>
                        </div>
                    </div>
           
                

                
            </div>
        </div>
    </div>
</article>