@{
    ViewData["Title"] = "Anasayfa";
}

<article id="post-99"
         class="post_item_single post_type_page post-99 page type-page status-publish hentry">
    <div class="post_content entry-content">
        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="vc_empty_space height_huge"
                             style="height: 32px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sc_layouts_683 wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div id="sc_content_681363588"
                             class="sc_content color_style_default sc_content_default sc_float_center vc_custom_1507197453401">
                            <div class="sc_content_container">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                                    <div class="wpb_column vc_column_container vc_col-sm-5 sc_layouts_column_icons_position_left">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_single_image wpb_content_element vc_align_right">
                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper vc_box_border_grey">
                                                            <img width="334"
                                                                 height="487"
                                                                 src="homepage/images/home-1.jpeg"
                                                                 class="vc_single_image-img attachment-full"
                                                                 alt=""
                                                                 loading="lazy"
                                                                 srcset="
                                                homepage/images/home-1.jpeg        334w,
                                                homepage/images/home-1-206x300.jpg 206w
                                              "
                                                                 sizes="(max-width: 334px) 100vw, 334px" />
                                                        </div>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-7 sc_layouts_column_icons_position_left">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="vc_empty_space hide_on_desktop hide_on_notebook hide_on_tablet height_medium"
                                                     style="height: 32px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <div id="sc_content_487675521"
                                                     class="sc_content color_style_default color_style_default sc_content_default sc_float_center vc_custom_1507198087176">
                                                    <div class="sc_content_container">
                                                        <div id="sc_title_1650972885"
                                                             class="sc_title color_style_default sc_title_default">
                                                            <h6 class="sc_item_subtitle sc_title_subtitle sc_align_left sc_item_title_style_default">
                                                                Hoşgeldiniz
                                                            </h6>
                                                            <h2 class="sc_item_title sc_title_title sc_align_left sc_item_title_style_default">
                                                                Bulunduğunuz Mekana Modern Bir
                                                                Hava Katın
                                                            </h2>
                                                            <div class="sc_item_descr sc_title_descr sc_align_left">
                                                                <p>
                                                                    Dekorasyonunuza yenilikçi bir
                                                                    hava katmak ister misiniz?
                                                                    Evinizi yada ofislerinizi
                                                                    süsleyecek en yeni perde
                                                                    modelleri indirimli fiyatlarla
                                                                    sizi bekliyor. Evinizi yenilemek
                                                                    en şık perdeleri satın almak
                                                                    Uğurlu Perdeciperdeleri ile çok
                                                                    kolay. Bulunduğunuz ortama renk
                                                                    katmak ve en uygun fiyatlar ile
                                                                    perde satın almak için hızlı ve
                                                                    güvenilir firmamızı tercih
                                                                    edebilirsiniz.
                                                                </p>
                                                            </div>
                                                            <div class="sc_item_button sc_button_wrap sc_align_left">
                                                                <a href="@Url.Action("About","Home")"
                                                                   id="sc_button_1013052766"
                                                                   class="sc_button color_style_default sc_button_bordered sc_item_button sc_item_button_bordered sc_title_button sc_button_size_normal sc_button_icon_left">
                                                                    <span class="sc_button_text">
                                                                        <span class="sc_button_title">Hakkımızda</span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="vc_empty_space vc_custom_1507198107198 height_small"
                                                             style="height: 32px">
                                                            <span class="vc_empty_space_inner"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="vc_empty_space vc_custom_1507547933770 hide_on_mobile height_large"
                                                     style="height: 32px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="vc_empty_space vc_custom_1507199848888 height_large"
                             style="height: 32px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                        <div class="vc_empty_space vc_custom_1507209675949 height_large"
                             style="height: 32px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-vc-full-width="true"
             data-vc-full-width-init="true"
             data-vc-stretch-content="true"
             class="vc_row wpb_row vc_row-fluid sc_layouts_692 vc_custom_1574060941981 vc_row-has-fill vc_row-no-padding"
             style="
                      position: relative;
                      left: -352.5px;
                      box-sizing: border-box;
                      width: 1905px;
                    ">
            <div class="wpb_column vc_column_container vc_col-sm-6 sc_layouts_column_icons_position_left">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="vc_empty_space vc_custom_1507288607261 hide_on_notebook hide_on_tablet hide_on_mobile height_huge"
                             style="height: 32px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                        <div id="sc_content_810635293"
                             class="sc_content color_style_default sc_content_default sc_content_width_1_2 sc_float_right">
                            <div class="sc_content_container">
                                <div id="sc_title_834117876"
                                     class="sc_title color_style_default sc_title_default vc_custom_1601538145510">
                                    <h6 class="sc_item_subtitle sc_title_subtitle sc_align_left sc_item_title_style_default">
                                        Ürünler
                                    </h6>
                                    <h2 class="sc_item_title sc_title_title sc_align_left sc_item_title_style_default">
                                        Kalite, Güvenilirlik ve Hizmet
                                    </h2>
                                    <div class="sc_item_descr sc_title_descr sc_align_left">
                                        <p>
                                            En fazla tercih edilen perde modelleri
                                            arasından kendi zevklerinize uygun en şık
                                            perdeleri bulabilir inceleyerek tercihinizi
                                            yapabilir ve satın alabilirsiniz. En yeni
                                            perde modellerini satın alarak evinizi
                                            yenilemek isterseniz acele edin.
                                            Bulunduğunuz mekana modern bir hava katın.
                                            İster dikey, isterseniz rustik, akıllı perde
                                            çeşitleri uygun maliyetlerle Uğurlu
                                            Perdeci'de. Özel ölçü sipariş imkanı ile
                                            stor, zebra, fon perde gibi birçok perde
                                            modelini rahatlıkla sipariş verebilirsiniz.
                                        </p>
                                    </div>
                                </div>
                                <div class="vc_empty_space vc_custom_1507210841054 height_medium"
                                     style="height: 32px">
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-7 sc_layouts_column_icons_position_left">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div id="sc_icons_603867031"
                                                     class="sc_icons sc_icons_default sc_icons_size_medium sc_align_center">
                                                    <div class="sc_icons_columns_wrap sc_item_columns trx_addons_columns_wrap columns_padding_bottom">
                                                        <div class="trx_addons_column-1_3">
                                                            <div class="sc_icons_item sc_icons_item_linked">
                                                                <div class="sc_icons_image">
                                                                    <img src="homepage/icon_5.png"
                                                                         alt=""
                                                                         width="53"
                                                                         height="44" />
                                                                </div>
                                                                <a href="/#/services/tul-perde/"
                                                                   class="sc_icons_item_link"></a>
                                                            </div>
                                                        </div>
                                                        <div class="trx_addons_column-1_3">
                                                            <div class="sc_icons_item sc_icons_item_linked">
                                                                <div class="sc_icons_image">
                                                                    <img src="homepage/icon_3.png"
                                                                         alt=""
                                                                         width="52"
                                                                         height="49" />
                                                                </div>
                                                                <a href="/#/services/salon-perdesi/"
                                                                   class="sc_icons_item_link"></a>
                                                            </div>
                                                        </div>
                                                        <div class="trx_addons_column-1_3">
                                                            <div class="sc_icons_item sc_icons_item_linked">
                                                                <div class="sc_icons_image">
                                                                    <img src="homepage/icon_2.png"
                                                                         alt=""
                                                                         width="52"
                                                                         height="49" />
                                                                </div>
                                                                <a href="/#/services/rustik-perdeler/"
                                                                   class="sc_icons_item_link"></a>
                                                            </div>
                                                        </div>
                                                        <div class="trx_addons_column-1_3">
                                                            <div class="sc_icons_item sc_icons_item_linked">
                                                                <div class="sc_icons_image">
                                                                    <img src="homepage/icon_6.png"
                                                                         alt=""
                                                                         width="48"
                                                                         height="50" />
                                                                </div>
                                                                <a href="/#/services/katlamali-perde/"
                                                                   class="sc_icons_item_link"></a>
                                                            </div>
                                                        </div>
                                                        <div class="trx_addons_column-1_3">
                                                            <div class="sc_icons_item sc_icons_item_linked">
                                                                <div class="sc_icons_image">
                                                                    <img src="homepage/icon_4.png"
                                                                         alt=""
                                                                         width="53"
                                                                         height="49" />
                                                                </div>
                                                                <a href="/#/services/jaluzi-perde/"
                                                                   class="sc_icons_item_link"></a>
                                                            </div>
                                                        </div>
                                                        <div class="trx_addons_column-1_3">
                                                            <div class="sc_icons_item sc_icons_item_linked">
                                                                <div class="sc_icons_image">
                                                                    <img src="homepage/icon_1.png"
                                                                         alt=""
                                                                         width="53"
                                                                         height="49" />
                                                                </div>
                                                                <a href="/#/services/bolme-perde/"
                                                                   class="sc_icons_item_link"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_empty_space hide_on_desktop hide_on_notebook hide_on_tablet height_medium"
                             style="height: 32px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6 sc_layouts_column_icons_position_left">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left">
                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper vc_box_border_grey">
                                    <img width="959"
                                         height="796"
                                         src="homepage/images/home-2.jpeg"
                                         class="vc_single_image-img attachment-full"
                                         alt=""
                                         loading="lazy"
                                         srcset="
                                    homepage/images/home-2.jpeg         959w,
                                    homepage/images/home-2-300x249.jpeg 300w,
                                    homepage/images/home-2-768x637.jpeg 768w,
                                    homepage/images/home-2-370x307.jpeg 370w,
                                    homepage/images/home-2-760x631.jpeg 760w,
                                    homepage/images/home-2-600x498.jpeg 600w
                                  "
                                         sizes="(max-width: 959px) 100vw, 959px" />
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="vc_empty_space hide_on_notebook hide_on_tablet hide_on_mobile height_huge"
                             style="height: 32px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                        <div class="vc_empty_space height_medium"
                             style="height: 32px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row-full-width vc_clearfix"></div>
        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="vc_empty_space vc_custom_1507211468514 height_medium"
                             style="height: 32px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                        <div id="sc_title_44547345"
                             class="sc_title color_style_default sc_title_default">
                            <h6 class="sc_item_subtitle sc_title_subtitle sc_align_center sc_item_title_style_default">
                                Mağaza
                            </h6>
                            <h2 class="sc_item_title sc_title_title sc_align_center sc_item_title_style_default">
                                Fırsat Ürünlerimiz
                            </h2>
                        </div>
                        <div class="vc_empty_space vc_custom_1507211490692 height_medium"
                             style="height: 32px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                        <div class="woocommerce columns-4">
                            <ul class="products columns-4">
                                <li class="product type-product post-2484 status-publish first outofstock product_cat-genel has-post-thumbnail shipping-taxable product-type-simple">
                                    <div class="post_item post_layout_thumbs">
                                        <div class="post_featured hover_none">
                                            <a href="/#/urun/zebra-perde/">
                                                <img width="400"
                                                     height="400"
                                                     src="homepage/images/zebra.jpeg"
                                                     class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                     alt=""
                                                     loading="lazy"
                                                     srcset="
                                          homepage/images/zebra.jpeg  400w,
                                          homepage/images/zebra.jpeg  300w,
                                          homepage/images/zebra.jpeg  150w,
                                          homepage/images/zebra.jpeg  768w,
                                          homepage/images/zebra.jpeg  370w,
                                          homepage/images/zebra.jpeg  180w,
                                          homepage/images/zebra.jpeg  760w,
                                          homepage/images/zebra.jpeg  600w,
                                          homepage/images/zebra.jpeg  100w,
                                          homepage/images/zebra.jpeg 1000w
                                        "
                                                     sizes="(max-width: 400px) 100vw, 400px" />
                                            </a>
                                        </div>
                                        <div class="post_data">
                                            <div class="post_data_inner">
                                                <div class="post_header entry-header">
                                                    <h2 class="woocommerce-loop-product__title">
                                                        <a href="/#/urun/zebra-perde/">Zebra Perde</a>
                                                    </h2>
                                                </div>
                                                <a href="/#/urun/zebra-perde/"
                                                   data-quantity="1"
                                                   class="button product_type_simple"
                                                   data-product_id="2484"
                                                   data-product_sku=""
                                                   aria-label="“Zebra Perde” hakkında daha fazla bilgi edinin"
                                                   rel="nofollow">Devamını oku</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product type-product post-2482 status-publish outofstock product_cat-genel has-post-thumbnail shipping-taxable product-type-simple">
                                    <div class="post_item post_layout_thumbs">
                                        <div class="post_featured hover_none">
                                            <a href="/#/urun/fon-perde-2/">
                                                <img width="400"
                                                     height="400"
                                                     src="homepage/images/fon-kanat-perde.jpeg"
                                                     class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                     alt=""
                                                     loading="lazy"
                                                     srcset="
                                          homepage/images/fon-kanat-perde.jpeg  400w,
                                          homepage/images/fon-kanat-perde.jpeg  300w,
                                          homepage/images/fon-kanat-perde.jpeg  150w,
                                          homepage/images/fon-kanat-perde.jpeg  768w,
                                          homepage/images/fon-kanat-perde.jpeg  370w,
                                          homepage/images/fon-kanat-perde.jpeg  180w,
                                          homepage/images/fon-kanat-perde.jpeg  760w,
                                          homepage/images/fon-kanat-perde.jpeg  600w,
                                          homepage/images/fon-kanat-perde.jpeg  100w,
                                          homepage/images/fon-kanat-perde.jpeg 1000w
                                        "
                                                     sizes="(max-width: 400px) 100vw, 400px" />
                                            </a>
                                        </div>
                                        <div class="post_data">
                                            <div class="post_data_inner">
                                                <div class="post_header entry-header">
                                                    <h2 class="woocommerce-loop-product__title">
                                                        <a href="/#/urun/fon-perde-2/">Fon Perde</a>
                                                    </h2>
                                                </div>
                                                <a href="/#/urun/fon-perde-2/"
                                                   data-quantity="1"
                                                   class="button product_type_simple"
                                                   data-product_id="2482"
                                                   data-product_sku=""
                                                   aria-label="“Fon Perde” hakkında daha fazla bilgi edinin"
                                                   rel="nofollow">Devamını oku</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product type-product post-2480 status-publish outofstock product_cat-genel has-post-thumbnail shipping-taxable product-type-simple">
                                    <div class="post_item post_layout_thumbs">
                                        <div class="post_featured hover_none">
                                            <a href="/#/urun/fon-perde/">
                                                <img width="400"
                                                     height="400"
                                                     src="homepage/images/kanat-perde.jpeg"
                                                     class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                     alt=""
                                                     loading="lazy"
                                                     srcset="
                                          homepage/images/kanat-perde.jpeg  400w,
                                          homepage/images/kanat-perde.jpeg  300w,
                                          homepage/images/kanat-perde.jpeg  150w,
                                          homepage/images/kanat-perde.jpeg  768w,
                                          homepage/images/kanat-perde.jpeg  370w,
                                          homepage/images/kanat-perde.jpeg  180w,
                                          homepage/images/kanat-perde.jpeg  760w,
                                          homepage/images/kanat-perde.jpeg  600w,
                                          homepage/images/kanat-perde.jpeg  100w,
                                          homepage/images/kanat-perde.jpg  1000w
                                        "
                                                     sizes="(max-width: 400px) 100vw, 400px" />
                                            </a>
                                        </div>
                                        <div class="post_data">
                                            <div class="post_data_inner">
                                                <div class="post_header entry-header">
                                                    <h2 class="woocommerce-loop-product__title">
                                                        <a href="/#/urun/fon-perde/">Kanat Perde</a>
                                                    </h2>
                                                </div>
                                                <a href="/#/urun/fon-perde/"
                                                   data-quantity="1"
                                                   class="button product_type_simple"
                                                   data-product_id="2480"
                                                   data-product_sku=""
                                                   aria-label="“Kanat Perde” hakkında daha fazla bilgi edinin"
                                                   rel="nofollow">Devamını oku</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product type-product post-2477 status-publish last outofstock product_cat-genel has-post-thumbnail shipping-taxable product-type-simple">
                                    <div class="post_item post_layout_thumbs">
                                        <div class="post_featured hover_none">
                                            <a href="/#/urun/rustik-perde/">
                                                <img width="400"
                                                     height="400"
                                                     src="homepage/images/stor-perde.jpeg"
                                                     class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                     alt=""
                                                     loading="lazy"
                                                     srcset="
                                          homepage/images/stor-perde.jpeg  400w,
                                          homepage/images/stor-perde.jpeg  300w,
                                          homepage/images/stor-perde.jpeg  150w,
                                          homepage/images/stor-perde.jpeg  768w,
                                          homepage/images/stor-perde.jpeg  370w,
                                          homepage/images/stor-perde.jpeg  180w,
                                          homepage/images/stor-perde.jpeg  760w,
                                          homepage/images/stor-perde.jpeg  600w,
                                          homepage/images/stor-perde.jpeg  100w,
                                          homepage/images/stor-perde.jpeg 1000w
                                        "
                                                     sizes="(max-width: 400px) 100vw, 400px" />
                                            </a>
                                        </div>
                                        <div class="post_data">
                                            <div class="post_data_inner">
                                                <div class="post_header entry-header">
                                                    <h2 class="woocommerce-loop-product__title">
                                                        <a href="/#/urun/rustik-perde/">Stor Perde</a>
                                                    </h2>
                                                </div>
                                                <a href="/#/urun/rustik-perde/"
                                                   data-quantity="1"
                                                   class="button product_type_simple"
                                                   data-product_id="2477"
                                                   data-product_sku=""
                                                   aria-label="“Stor Perde” hakkında daha fazla bilgi edinin"
                                                   rel="nofollow">Devamını oku</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product type-product post-248 status-publish first outofstock product_cat-genel has-post-thumbnail shipping-taxable product-type-simple">
                                    <div class="post_item post_layout_thumbs">
                                        <div class="post_featured hover_none">
                                            <a href="/#/urun/rustik-perdeler/">
                                                <img width="400"
                                                     height="400"
                                                     src="homepage/rustik-perde-400x400.jpg"
                                                     class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                     alt=""
                                                     loading="lazy"
                                                     srcset="
                                          homepage/rustik-perde-400x400.jpg  400w,
                                          homepage/rustik-perde-400x400.jpg  300w,
                                          homepage/rustik-perde-400x400.jpg  150w,
                                          homepage/rustik-perde-400x400.jpg  768w,
                                          homepage/rustik-perde-400x400.jpg  370w,
                                          homepage/rustik-perde-400x400.jpg  180w,
                                          homepage/rustik-perde-400x400.jpg  760w,
                                          homepage/rustik-perde-400x400.jpg  600w,
                                          homepage/rustik-perde-400x400.jpg  100w,
                                          homepage/rustik-perde-400x400.jpg 1000w
                                        "
                                                     sizes="(max-width: 400px) 100vw, 400px" />
                                            </a>
                                        </div>
                                        <div class="post_data">
                                            <div class="post_data_inner">
                                                <div class="post_header entry-header">
                                                    <h2 class="woocommerce-loop-product__title">
                                                        <a href="/#/urun/rustik-perdeler/">Rustik Perdeler</a>
                                                    </h2>
                                                </div>
                                                <a href="/#/urun/rustik-perdeler/"
                                                   data-quantity="1"
                                                   class="button product_type_simple"
                                                   data-product_id="248"
                                                   data-product_sku=""
                                                   aria-label="“Rustik Perdeler” hakkında daha fazla bilgi edinin"
                                                   rel="nofollow">Devamını oku</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product type-product post-244 status-publish outofstock product_cat-genel has-post-thumbnail shipping-taxable product-type-simple">
                                    <div class="post_item post_layout_thumbs">
                                        <div class="post_featured hover_none">
                                            <a href="/#/urun/tul-perde/">
                                                <img width="400"
                                                     height="400"
                                                     src="homepage/tul-perde-400x400.jpg"
                                                     class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                     alt=""
                                                     loading="lazy"
                                                     srcset="
                                          homepage/tul-perde-400x400.jpg  400w,
                                          homepage/tul-perde-400x400.jpg  300w,
                                          homepage/tul-perde-400x400.jpg  150w,
                                          homepage/tul-perde-400x400.jpg  768w,
                                          homepage/tul-perde-400x400.jpg  370w,
                                          homepage/tul-perde-400x400.jpg  180w,
                                          homepage/tul-perde-400x400.jpg  760w,
                                          homepage/tul-perde-400x400.jpg  600w,
                                          homepage/tul-perde-400x400.jpg  100w,
                                          homepage/tul-perde-400x400.jpg 1000w
                                        "
                                                     sizes="(max-width: 400px) 100vw, 400px" />
                                            </a>
                                        </div>
                                        <div class="post_data">
                                            <div class="post_data_inner">
                                                <div class="post_header entry-header">
                                                    <h2 class="woocommerce-loop-product__title">
                                                        <a href="/#/urun/tul-perde/">Tül Perde</a>
                                                    </h2>
                                                </div>
                                                <a href="/#/urun/tul-perde/"
                                                   data-quantity="1"
                                                   class="button product_type_simple"
                                                   data-product_id="244"
                                                   data-product_sku=""
                                                   aria-label="“Tül Perde” hakkında daha fazla bilgi edinin"
                                                   rel="nofollow">Devamını oku</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product type-product post-241 status-publish outofstock product_cat-genel has-post-thumbnail shipping-taxable product-type-simple">
                                    <div class="post_item post_layout_thumbs">
                                        <div class="post_featured hover_none">
                                            <a href="/#/urun/ip-perdeler/">
                                                <img width="400"
                                                     height="400"
                                                     src="homepage/ip-perde-400x400.jpg"
                                                     class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                     alt=""
                                                     loading="lazy"
                                                     srcset="
                                          homepage/ip-perde-400x400.jpg  400w,
                                          homepage/ip-perde-400x400.jpg  300w,
                                          homepage/ip-perde-400x400.jpg 1024w,
                                          homepage/ip-perde-400x400.jpg  150w,
                                          homepage/ip-perde-400x400.jpg  768w,
                                          homepage/ip-perde-400x400.jpg  370w,
                                          homepage/ip-perde-400x400.jpg  180w,
                                          homepage/ip-perde-400x400.jpg  760w,
                                          homepage/ip-perde-400x400.jpg  600w,
                                          homepage/ip-perde-400x400.jpg  100w,
                                          homepage/ip-perde-400x400.jpg 1440w
                                        "
                                                     sizes="(max-width: 400px) 100vw, 400px" />
                                            </a>
                                        </div>
                                        <div class="post_data">
                                            <div class="post_data_inner">
                                                <div class="post_header entry-header">
                                                    <h2 class="woocommerce-loop-product__title">
                                                        <a href="/#/urun/ip-perdeler/">İp Perdeler</a>
                                                    </h2>
                                                </div>
                                                <a href="/#/urun/ip-perdeler/"
                                                   data-quantity="1"
                                                   class="button product_type_simple"
                                                   data-product_id="241"
                                                   data-product_sku=""
                                                   aria-label="“İp Perdeler” hakkında daha fazla bilgi edinin"
                                                   rel="nofollow">Devamını oku</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product type-product post-238 status-publish last outofstock product_cat-genel has-post-thumbnail shipping-taxable product-type-simple">
                                    <div class="post_item post_layout_thumbs">
                                        <div class="post_featured hover_none">
                                            <a href="/#/urun/karartma-perde/">
                                                <img width="400"
                                                     height="400"
                                                     src="homepage/karartma-perde-1-400x400.jpg"
                                                     class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                     alt=""
                                                     loading="lazy"
                                                     srcset="
                                          homepage/karartma-perde-1-400x400.jpg  400w,
                                          homepage/karartma-perde-1-400x400.jpg  300w,
                                          homepage/karartma-perde-1-400x400.jpg  150w,
                                          homepage/karartma-perde-1-400x400.jpg  768w,
                                          homepage/karartma-perde-1-400x400.jpg  370w,
                                          homepage/karartma-perde-1-400x400.jpg  180w,
                                          homepage/karartma-perde-1-400x400.jpg  760w,
                                          homepage/karartma-perde-1-400x400.jpg  600w,
                                          homepage/karartma-perde-1-400x400.jpg  100w,
                                          homepage/karartma-perde-1-400x400.jpg 1000w
                                        "
                                                     sizes="(max-width: 400px) 100vw, 400px" />
                                            </a>
                                        </div>
                                        <div class="post_data">
                                            <div class="post_data_inner">
                                                <div class="post_header entry-header">
                                                    <h2 class="woocommerce-loop-product__title">
                                                        <a href="/#/urun/karartma-perde/">Karartma Perde</a>
                                                    </h2>
                                                </div>
                                                <a href="/#/urun/karartma-perde/"
                                                   data-quantity="1"
                                                   class="button product_type_simple"
                                                   data-product_id="238"
                                                   data-product_sku=""
                                                   aria-label="“Karartma Perde” hakkında daha fazla bilgi edinin"
                                                   rel="nofollow">Devamını oku</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="vc_empty_space vc_custom_1507211591248 height_medium"
                             style="height: 32px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div id="sc_content_27800284"
                             class="sc_content color_style_default sc_content_default sc_float_center vc_custom_1507197453401">
                            <div class="sc_content_container">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                                    <div class="wpb_column vc_column_container vc_col-sm-5 sc_layouts_column_icons_position_left">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_single_image wpb_content_element vc_align_right">
                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper vc_box_border_grey">
                                                            <img width="334"
                                                                 height="487"
                                                                 src="homepage/home-3.jpg"
                                                                 class="vc_single_image-img attachment-full"
                                                                 alt=""
                                                                 loading="lazy"
                                                                 srcset="
                                                homepage/home-3.jpg 334w,
                                                homepage/home-3.jpg 206w
                                              "
                                                                 sizes="(max-width: 334px) 100vw, 334px" />
                                                        </div>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-7 sc_layouts_column_icons_position_left">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="vc_empty_space hide_on_desktop hide_on_notebook hide_on_tablet height_medium"
                                                     style="height: 32px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <div id="sc_content_1320440521"
                                                     class="sc_content color_style_default color_style_default sc_content_default sc_float_center vc_custom_1507198087176">
                                                    <div class="sc_content_container">
                                                        <div id="sc_title_745536552"
                                                             class="sc_title color_style_default sc_title_default">
                                                            <h5 class="sc_item_title sc_title_title sc_align_left sc_item_title_style_default sc_item_title_tag">
                                                                Uğurlu Perdecikurulduğu ilk günden
                                                                bu yana kendini sürekli
                                                                geliştirmekte ve kalite şıklık ve
                                                                çeşitlilik ile perde sektöründe
                                                                dikkatleri üzerine çekmektedir.
                                                            </h5>
                                                            <div class="sc_item_descr sc_title_descr sc_align_left">
                                                                <p>
                                                                    Her zevke uygun perde modelleri
                                                                    satışı ile hizmet vermeye devam
                                                                    etmektedir. Göz kamaştırıcı
                                                                    perde tasarımları ile
                                                                    hayallerinizdeki mekanları
                                                                    yaratabilirsiniz. Birbirinden
                                                                    farklı ve güzel etkileyici perde
                                                                    çeşitleri için firmamızı tercih
                                                                    etmelisiniz. İstanbul'un birçok
                                                                    ilçesinde tüm perde
                                                                    ihtiyaçlarınız için Uğurlu
                                                                    Perdecihizmetinizde. Perde
                                                                    tasarımı ve satışı yapan
                                                                    firmamız özel perde
                                                                    tasarımlarının yerinde kurulumu
                                                                    hizmeti ile destekçinizdir.
                                                                </p>
                                                                <p>
                                                                    Evlerin vazgeçilmez
                                                                    tamamlayıcısı olan perdeler
                                                                    şıklığın ve dekorasyonun önemli
                                                                    bir parçasıdır. Perdecilik
                                                                    sektöründe deneyime sahip olan
                                                                    Uğurlu Perdeciuzman kadrosu ile
                                                                    her geçen gün en trend
                                                                    perdelerin satışını yapmakta ve
                                                                    yeniliklere imza atmaktadır.
                                                                    Yaşam alanlarının olmazsa
                                                                    olmazları arasında yer alan
                                                                    perdeler arasından sizi
                                                                    büyüleyecek en özel modelleri
                                                                    bulabilirsiniz. İhtiyaçlarınıza
                                                                    uygun tasarımları müşterilerine
                                                                    özenle sunan Uğurlu Perdeciistek
                                                                    ve arzularınıza özel modeller
                                                                    üretmektedir. Uygun fiyat
                                                                    politikası ile en şık perde
                                                                    modellerini satmaktadır. Satış
                                                                    sonrası destek hizmetlerimiz ile
                                                                    de müşterilerimizin yanında
                                                                    olmaktayız.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="vc_empty_space vc_custom_1507198107198 height_small"
                                                             style="height: 32px">
                                                            <span class="vc_empty_space_inner"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="vc_empty_space vc_custom_1507547933770 hide_on_mobile height_large"
                                                     style="height: 32px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-vc-full-width="true"
             data-vc-full-width-init="true"
             data-vc-stretch-content="true"
             class="vc_row wpb_row vc_row-fluid sc_layouts_692 vc_custom_1601555852062 vc_row-no-padding"
             style="
                      position: relative;
                      left: -352.5px;
                      box-sizing: border-box;
                      width: 1905px;
                    ">
            <div class="wpb_column vc_column_container vc_col-sm-6 sc_layouts_column_icons_position_left">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="vc_empty_space vc_custom_1507288607261 hide_on_notebook hide_on_tablet hide_on_mobile height_huge"
                             style="height: 32px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                        <div id="sc_content_1043571492"
                             class="sc_content color_style_default sc_content_default sc_content_width_1_2 sc_float_right">
                            <div class="sc_content_container">
                                <div id="sc_title_1673768813"
                                     class="sc_title color_style_default sc_title_default vc_custom_1601618820672">
                                    <h5 class="sc_item_title sc_title_title sc_align_left sc_item_title_style_default sc_item_title_tag">
                                        Perde modellerinde farklı model ve çizgilerden
                                        esinlenerek her ruha dokunan eşsiz tasarımlar
                                        hazırlamaya ve müşterilerimize sunmaya özen
                                        göstermekteyiz.
                                    </h5>
                                    <div class="sc_item_descr sc_title_descr sc_align_left">
                                        <p>
                                            Yaşam alanlarınıza görsel olarak zenginlik
                                            kazandıran perdelerde ürün yelpazesini en
                                            üst seviyede sunmaktayız. Zarif, şık perde
                                            çeşitleri arasından dilediğinizi seçin.
                                            Ekonomik maliyetlerle perde satın
                                            alabileceğiniz Uğurlu Perdeci'de yüzlerce
                                            desen bulunmaktadır. Belirlenen süre
                                            içerisinde, satın aldığınız perde evinize ya
                                            da belirttiğiniz adrese teslim edilmektedir.
                                        </p>
                                        <p>
                                            Özel ölçülerde hazırlanan perdelerden satın
                                            alabilir ya da ev ofis, otel gibi farklı
                                            mekanlar için özel ölçü perde çeşitlerinden
                                            istediğiniz birini seçebilirsiniz. Geniş
                                            kumaş ve desen seçenekleri ile
                                            müşterilerimize perde konusunda çözüm ortağı
                                            olmaktayız. Web sayfamız üzerinden fon
                                            perdeler, zebra perde modelleri, tül perde
                                            çeşitleri gibi farklı birçok perde
                                            seçeneğini inceleyebilir, gerekli model
                                            seçimini yaparak sipariş verebilirsiniz.
                                        </p>
                                        <p>
                                            Perde çeşitlerinde uzmanlaşmış farklı ürün
                                            ve desenlerde perdeler sunan ve tasarlayan
                                            Uğurlu Perdecidekorasyona meraklı kişiler
                                            için pek çok perde seçeneğini bir arada
                                            sunmaktadır. Ürün çeşitliliği ve ürün
                                            kalitesi ile beklentilerin çok daha üstünde
                                            kaliteli, modern ve şık perdelerin satışa
                                            sunulduğu web sayfasında renkli, sade, özgün
                                            özel tasarımları en uygun fiyatlar ile satın
                                            alabilirsiniz.
                                        </p>
                                    </div>
                                </div>
                                <div class="vc_empty_space vc_custom_1507210841054 height_medium"
                                     style="height: 32px">
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                            </div>
                        </div>
                        <div class="vc_empty_space hide_on_desktop hide_on_notebook hide_on_tablet height_medium"
                             style="height: 32px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6 sc_layouts_column_icons_position_left">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left">
                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper vc_box_border_grey">
                                    <img width="959"
                                         height="796"
                                         src="homepage/home-4.jpg"
                                         class="vc_single_image-img attachment-full"
                                         alt=""
                                         loading="lazy"
                                         srcset="
                                    homepage/home-4.jpg         959w,
                                    homepage/home-4-300x249.jpg 300w,
                                    homepage/home-4-768x637.jpg 768w,
                                    homepage/home-4-370x307.jpg 370w,
                                    homepage/home-4-760x631.jpg 760w,
                                    homepage/home-4-600x498.jpg 600w
                                  "
                                         sizes="(max-width: 959px) 100vw, 959px" />
                                </div>
                            </figure>
                        </div>
                        <div class="vc_empty_space hide_on_notebook hide_on_tablet hide_on_mobile height_huge"
                             style="height: 32px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row-full-width vc_clearfix"></div>
        <div class="vc_row wpb_row vc_row-fluid sc_layouts_704">
            <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div id="sc_content_2009988175"
                             class="sc_content color_style_default sc_content_default sc_float_center vc_custom_1507214491404">
                            <div class="sc_content_container">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-5 sc_layouts_column_icons_position_left">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="vc_empty_space vc_custom_1507213932431 height_small"
                                                     style="height: 32px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <div id="sc_title_1028941506"
                                                     class="sc_title color_style_default sc_title_default">
                                                    <h6 class="sc_item_subtitle sc_title_subtitle sc_align_left sc_item_title_style_default">
                                                        İletişim
                                                    </h6>
                                                    <h2 class="sc_item_title sc_title_title sc_align_left sc_item_title_style_default">
                                                        Uğurlu Perdeci
                                                    </h2>
                                                    <div class="sc_item_descr sc_title_descr sc_align_left">
                                                        <p>
                                                            Uğurlu Perdeci'de müşteriler bizim
                                                            önceliğimizdir. Perde ihtiyacınız
                                                            olduğunda veya sorularınızın
                                                            yanıtlanmasını istediğinizde bize
                                                            ulaşın.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="vc_empty_space vc_custom_1507214324275 height_small"
                                                     style="height: 32px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <div id="widget_contacts_323025971"
                                                     class="widget_area sc_widget_contacts vc_widget_contacts wpb_content_element">
                                                    <aside id="widget_contacts_323025971_widget"
                                                           class="widget widget_contacts">
                                                        <div class="contacts_wrap">
                                                            <div class="contacts_info">
                                                                <span class="contacts_address">
                                                                    Akmescit Mahallesi Köprübaşı
                                                                    Caddesi No:8/A
                                                                    Afyonkarahisar
                                                                </span><span class="contacts_email">
                                                                    <a href="mailto:info@ugurluperdeci.com">info@ugurluperdeci.com</a>
                                                                </span><a href="tel:05439300760"
                                                                          class="contacts_phone">0543 930 07 60</a>
                                                            </div>
                                                        </div>
                                                    </aside>
                                                </div>
                                                <div class="vc_empty_space hide_on_desktop hide_on_notebook hide_on_tablet height_large"
                                                     style="height: 32px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-7 sc_layouts_column_icons_position_left">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div id="sc_content_2026248904"
                                                     class="sc_content color_style_default color_style_default sc_content_default sc_float_center sc_padding_tiny">
                                                    <div class="sc_content_container">
                                                        <div class="wpb_text_column wpb_content_element">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <iframe style="border: 0"
                                                                            tabindex="0"
                                                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3111.3947110495274!2d30.5366826!3d38.75465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cf1728953c17bd%3A0x87d1e1781d8d1be0!2sUgurlu%20Perde!5e0!3m2!1str!2str!4v1661859662213!5m2!1str!2str"
                                                                            width="100%"
                                                                            height="464"
                                                                            frameborder="0"
                                                                            allowfullscreen="allowfullscreen"
                                                                            aria-hidden="false">
                                                                        <span data-mce-type="bookmark"
                                                                              style="
                                                      display: inline-block;
                                                      width: 0;
                                                      overflow: hidden;
                                                      line-height: 0;
                                                    "
                                                                              class="mce_SELRES_start">﻿</span>
                                                                    </iframe>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="vc_empty_space vc_custom_1507213812667 height_huge"
                                                             style="height: 32px">
                                                            <span class="vc_empty_space_inner"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid vc_custom_1601883892608">
            <div class="wpb_column vc_column_container vc_col-sm-3 sc_layouts_column_icons_position_left">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left vc_custom_1601970378930">
                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper vc_box_border_grey">
                                    <img width="350"
                                         height="150"
                                         src="homepage/somfy.png"
                                         class="vc_single_image-img attachment-full"
                                         alt=""
                                         loading="lazy"
                                         srcset="
                                    homepage/somfy.png         350w,
                                    homepage/somfy-300x129.png 300w
                                  "
                                         sizes="(max-width: 350px) 100vw, 350px" />
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-3 sc_layouts_column_icons_position_left">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left vc_custom_1601970384809">
                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper vc_box_border_grey">
                                    <img width="350"
                                         height="150"
                                         src="homepage/brillant.png"
                                         class="vc_single_image-img attachment-full"
                                         alt=""
                                         loading="lazy"
                                         srcset="
                                    homepage/brillant.png         350w,
                                    homepage/brillant-300x129.png 300w
                                  "
                                         sizes="(max-width: 350px) 100vw, 350px" />
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-3 sc_layouts_column_icons_position_left">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left vc_custom_1601970389593">
                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper vc_box_border_grey">
                                    <img width="350"
                                         height="150"
                                         src="homepage/tac.png"
                                         class="vc_single_image-img attachment-full"
                                         alt=""
                                         loading="lazy"
                                         srcset="
                                    homepage/tac.png         350w,
                                    homepage/tac-300x129.png 300w
                                  "
                                         sizes="(max-width: 350px) 100vw, 350px" />
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-3 sc_layouts_column_icons_position_left">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left vc_custom_1601970394520">
                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper vc_box_border_grey">
                                    <img width="350"
                                         height="150"
                                         src="homepage/mosel.png"
                                         class="vc_single_image-img attachment-full"
                                         alt=""
                                         loading="lazy"
                                         srcset="
                                    homepage/mosel.png         350w,
                                    homepage/mosel-300x129.png 300w
                                  "
                                         sizes="(max-width: 350px) 100vw, 350px" />
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

