@{
    ViewData["Title"] = "Perde Yıkama";
}

<article id="post-107"
         class="post_item_single post_type_page post-107 page type-page status-publish hentry">
    <div class="post_content entry-content">
        <div data-vc-full-width="true"
             data-vc-full-width-init="true"
             data-vc-stretch-content="true"
             class="vc_row wpb_row vc_row-fluid vc_row-no-padding"
             style="
                      position: relative;
                      left: -288.5px;
                      box-sizing: border-box;
                      width: 1777px;
                      margin-top:160px;
                    ">

            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-12 sc_layouts_column_icons_position_left">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="vc_row wpb_row vc_inner vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-8 vc_col-md-offset-1 vc_col-md-9 vc_col-sm-offset-2 vc_col-xs-offset-2 vc_col-xs-8 sc_layouts_column_icons_position_left">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div id="sc_services_884170615" class="sc_services color_style_default sc_services_simples sc_services_featured_top">
                                            <div class="sc_services_columns_wrap sc_item_columns sc_item_columns_3 trx_addons_columns_wrap columns_padding_bottom">
                                                <div class="trx_addons_column-1_1">
                                                    <div class="sc_services_item with_content with_image sc_services_item_featured_top">
                                                        <div class="sc_services_item_info">
                                                            <div class="sc_services_item_header">
                                                                <h3 class="sc_services_item_title"><a href="/#/dikey-perdeler/">Perde Yıkama</a></h3>
                                                            </div>
                                                            <div class="sc_services_item_content">
                                                                <p>Perde temizleme işleminde her perde cinsinin farklı temizlik tekniği vardır.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.sc_services -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </article>